.menu{
  background-color: #333333;
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);

  font-size: 14px;
}

ul:after {
    display: block;
    float: none;
    clear: both;

    content: ' ';
}

.menu > li{
position: relative;

  display: block;
  float: left;

padding-right: 35px;
padding-left: 35px;
}

.menu a{
  display: block;

  text-decoration: none;

  color: #ffffff;
  background-color: #333333;

  line-height: 30px;
    }


  ul.submenu{
    position: absolute;
    top: 100%;

    display: none;

    width: 100%;
  }

  .menu .submenu li {
    display: block;

    width: 75%;
  }

li:hover .submenu {
    display: block;
  }
